@import './variables.scss';

/*--------------------
    RESET
--------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------
    COMMONS
--------------------*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: $primary_font;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container_small {
    width: 60%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.clearfix {
    content : "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

section {
    padding: 100px 0;
}