@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

$primary_font : 'Montserrat', sans-serif;

//colors
$text_color : #08427d;
$lightgrey : #e2e2e0;
$grey : #b1b1b0;
$dark_grey : #6c6c6b;
$lightgreen : #1fad95;
$lightgreen_important : #2fab97;